span.parmesano {
    background: url(../media/cheese-icon.png) no-repeat;
    background-size:24px;
    display: block;
    height: 24px;
    width: 24px;
    float: right;
}

input#descriptionInput {
    width: 90%;
}

a#newTask-button {
    float: right;
    margin-bottom: 10px;
}