span.parmesano {
    background: url(../media/cheese-icon.png) no-repeat;
    background-size:24px;
    display: block;
    height: 24px;
    width: 24px;
    float: right;
}

input#descriptionInput {
    width: 90%;
}

div#action-buttons {
    float: right;
    margin-bottom: 10px;
}

th.right-side, td.right-side {
    border-left: none;
}